<md-dialog aria-label="About This Tool Dialog">
	<md-toolbar layout="column" layout-align="space-around center" layout-padding class="md-accent">
		<h1 style="margin-top: 5px;">Material Design Palette Generator</h1><br />
		<small style="font-size: 10px; padding-left: 10px; position:relative; top:-4px;">By: <span>Mikel Bitson</span>, <span>me @ mbitson . com</span></small>
	</md-toolbar>
	<md-content flex layout-padding>
		<p>The AngularJS Material Design framework provides us with an awesome theming engine that allows us to easily switch between Material Design themes. Unfortunately, there is one major shortcoming. When a user would like to use their own themes or colors, they must first define them in the AngularJS Material Design format. This requires a user either extend a default palette or define all of the colors for their new palette- which can be quote time consuming.</p>
		<strong>Enter, Material Design Palette Generator!</strong>
		<p>This material design color tool allows you to quickly and easily create or import a set of colors to create your own, perfect theme from completely customizable palettes. Once you've got your theme built, assign the theme and palette names and then quickly export to any front-end framework! Currently, export includes JSON and AngularJS Material design with plans to support Materialize, CSS, Polymer, and more!</p>
		<p>If you have any ideas for features for this tool, would like to submit a bug, or just want to chat, you may contact me using me @ mbitson . com.</p>
	</md-content>
	<div class="md-actions">
		<md-button ng-click="closeDialog()">
			Close Dialog
		</md-button>
	</div>
</md-dialog>