<md-toolbar layout-gt-md="row" layout-md="column" layout-align="center center">
    <md-button href="https://github.com/mbitson/mcg" class="gh-btn md-raised md-accent" target="_blank" aria-label="To Github">
        <md-tooltip>To GitHub</md-tooltip>
        <img src="/images/gh.png" alt="GitHub" name="GitHub Link" />
    </md-button>
    <span class="logo-text">Material Design<span class="logo-subhead">Palette Generator</span></span>
    <div flex class="bright-text" style="margin-left: 30px;">
        <md-input-container>
            <label>Theme Name</label>
            <input class="md-accent" ng-model="theme.name">
        </md-input-container>
    </div>
	<div flex layout="row" layout-align="end center">
        <div class="md-accent bright-text">
            <md-button class="md-accent" ng-click="showThemeCode()" style="margin-right: 15px;" aria-label="Copy AngularJS Code">
                <md-tooltip>Copy AngularJS Code / Export</md-tooltip>
                <ng-md-icon icon="file_download" size="34" style="fill:#ffffff;"></ng-md-icon>
            </md-button>
        </div>
        <div class="md-accent bright-text">
            <md-button class="md-accent" ng-click="showImport()" style="margin-right: 15px;" aria-label="Import Theme">
                <md-tooltip>Import</md-tooltip>
                <ng-md-icon icon="file_upload" size="34" style="fill:#ffffff;"></ng-md-icon>
            </md-button>
        </div>
        <div class="md-accent bright-text">
            <md-button class="md-accent" ng-click="showColourLovers()" style="margin-right: 15px;" aria-label="Select A ColourLovers Theme">
                <md-tooltip>Select A ColourLovers Theme</md-tooltip>
                <ng-md-icon icon="palette" size="34" style="fill:#fff;"></ng-md-icon>
            </md-button>
        </div>
        <div class="md-accent bright-text">
            <md-button class="md-accent" ng-click="addBasePalette()" style="margin-right: 15px;" aria-label="Add Palette">
                <md-tooltip>Add Palette</md-tooltip>
                <ng-md-icon icon="add_box" size="34" style="fill:#ffffff;"></ng-md-icon>
            </md-button>
        </div>
    </div>
</md-toolbar>
<md-content class="md-dark-theme">
	<md-content class="palette" ng-repeat="(paletteKey, palette) in palettes">
		<md-toolbar class="md-accent" layout="row" layout-align="center center" style="padding-right: 15px;">
			<div class="md-toolbar-tools">
				<md-input-container>
                    <label>Palette Name</label>
					<input ng-model="palette.name">
				</md-input-container>
			</div>
			<span flex></span>
            <md-button class="btn-icon-only" ng-click="showPaletteCode(palette)" aria-label="View Code">
                <md-tooltip>View Code</md-tooltip>
                <ng-md-icon icon="content_paste" size="24"></ng-md-icon>
            </md-button>
            <md-button class="btn-icon-only" ng-click="deletePalette(paletteKey)" aria-label="Delete Palette">
                <md-tooltip>Delete Palette</md-tooltip>
                <ng-md-icon icon="remove_circle" size="24"></ng-md-icon>
            </md-button>
            <spectrum-colorpicker ng-model="palette.base" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 250, 'blur': 0} }" format="'hex'" options="{showInput: true, showPalette: true}" ng-change="calcPalette(paletteKey)"></spectrum-colorpicker>
        </md-toolbar>
		<md-list flex class="palette-colors spaced" layout="column" layout-align="center center">
		    <md-list-item class="light-canvas" ng-repeat="color in palette.colors" flex layout="row">
		        <div class="palette-color" style="background-color:{{color.hex}};">
		            <span class="name color-text" ng-bind="color.name"></span>
		            <span ng-bind="color.hex" class="palette-color-hex color-text"></span>
                    <div class="palette-color-mutators">
                        <!-- Removed lighten and darken buttons until saturation issues are worked out. -->
                        <spectrum-colorpicker ng-model="color.hex" format="'hex'" options="{showInput: true, showPalette: true}"></spectrum-colorpicker>
                    </div>
		        </div>
		    </md-list-item>
		</md-list>
	</md-content>
</md-content>