body {
	font-family : "Open Sans", Arial, sans-serif;
}

.spaced {
	margin-top : 40px;
}

/*
 * Palette Color List CSS
 */
.palette-colors {

}

.palette-colors md-list-item {

}

.palette-color {
	font-weight           : 200;
	padding               : 20px;
	font-size             : 24px;
	line-height           : 24px;
	width                 : 360px;
	background-blend-mode : multiply;
	color                 : #000;
	text-shadow           : 1px 1px 0px rgba(255, 255, 255, 0.1);
}

.palette-color-hex {
	position  : relative;
	top       : -4px;
	font-size : 10px;
}

.dark-canvas {
	background-color : rgb(0, 0, 0);
}

.light-canvas {
	background-color : rgb(255, 255, 255);
}